
*.h5
*.jld

Examples/obsolete/*
Doc/*
Refs/*
Slides/*

docs/build/*

Manifest.toml
docs/Manifest.toml
docs/src/build/*

*.swp
*.gif
*.mat
*.jld
*.csv

*checkpoint.ipynb

*.blg
*.bst
*.synctex.gz
*.log
*.bbl
*.toc
*.aux
*.bcf
*.run.xml
*.log
*.nav
*.out
*.snm
*.thm
*.avi
*.fig
*.fls
*.texmk
*.DS_Store
*.h5
*.hdf5
*.fdb_latexmk
*.xdv
*.pdfsync


